.controls {
	z-index: 1;
	order: 2;
	align-self: stretch;
	background-color: var(--c-background);
	border-left: 1px solid var(--c-border);
	padding: $controls-padding;
	padding-bottom: 0;
	width: $sidebar-width;
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: fixed;
	right: 0;
	overflow: auto;
	transition: transform $t ease-in-out;
	@media print {
		display: none;
	}
	&__title {
		font-size: 0.85em;
		font-weight: bold;
		text-transform: uppercase;
		text-align: right;
		margin-bottom: 14px;
		user-select: none;
	}
	&__cta {
		margin-top: auto;
	}
	.controls-off & {
		transform: translateX($sidebar-width);
	}
}
