/* Positioning the first day */
.dates--start-1 li:first-child {
	grid-column: 1;
}
.dates--start-2 li:first-child {
	grid-column: 2;
}
.dates--start-3 li:first-child {
	grid-column: 3;
}
.dates--start-4 li:first-child {
	grid-column: 4;
}
.dates--start-5 li:first-child {
	grid-column: 5;
}
.dates--start-6 li:first-child {
	grid-column: 6;
}
.dates--start-7 li:first-child {
	grid-column: 7;
}
