.filmstrip {
	display: flex;
	overflow: auto;
	position: fixed;
	left: 0;
	right: $sidebar-width;
	height: $filmstrip-height;
	bottom: 0;
	z-index: 100;
	transition: all $t ease-in-out;
	background: var(--c-background-l1);
	padding: 0 5px;
	border: solid var(--c-border);
	border-width: 1px 0 1px 1px;
	&__thumbnail {
		flex: 1;
		min-width: 118px;
		margin: 10px 5px;
		overflow: hidden;
		position: relative;
		display: flex;
		align-items: stretch;
		&:focus {
			outline: 3px solid transparent;
		}

		@media (max-width: 2200px) {
			&:last-child {
				min-width: (118px + 10px);
				padding-right: 10px;
				&::after {
					right: 10px;
				}
			}
		}
	}

	.controls-off & {
		right: 0;
	}
	.filmstrip-off & {
		display: none;
	}
	@media (min-width: 2200px) {
		justify-content: center;
	}
	@media print {
		display: none;
	}
}
